@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;800&family=Island+Moments&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none; 
    list-style-type: none; 
    font-family: 'Dosis', sans-serif;
} 
/*Header*/ 
.navbar {
    display: none;
}
header {
    background-color: #b8d0f4; 
    width: 100%; 
    height: auto;
} 
 .out-button button {
    background-color: #fff; 
    color: black; 
    border: 1px solid aqua; 
    border-radius: 30px; 
    width: 90px; 
    height: 30px;
}  
.out-button-next button {
    background-color: #fff; 
    color: black; 
    border: 1px solid aqua; 
    border-radius: 30px; 
    width: 150px; 
    height: 30px;
} 
.sign-button button {
    background-color: rgb(33, 33, 210); 
    color: white; 
    border: 1px solid rgb(33, 33, 210); 
    border-radius: 30px; 
    width: 90px; 
    height: 30px;
}  
.sign-button-next button {
    background-color: rgb(33, 33, 210); 
    color: white; 
    border: 1px solid rgb(33, 33, 210); 
    border-radius: 30px; 
    width: 190px; 
    height: 30px;
} 
nav {
    display: flex; 
    justify-content: space-evenly; 
    padding-top: 2%;
} 
nav ul {
    display: flex; 
    justify-content: space-around;
    text-decoration: none; 
    gap: 40px; 
    align-items: center;
}  
nav ul li a {
    text-decoration: none; 
    list-style-type: none; 
    color: #fff; 
    margin: 10px;
} 
.logo {
    display: flex; 
    align-items: center; 
    gap: 5px; 
   
} 

.container  {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 50px; 

} 
.text-con {
    max-width: 700px; 
    margin: 10px;
} 
.icon-header {
    text-align: center;
} 

.column {
    
    display: flex; 

} 
.container-main {
    display: flex; 
    justify-content: space-around; 
    text-align: start; 
    align-items: center; 
    padding-top: 50px;
}   
.col-1 img {
    max-width: 80px; 
    float: left; 
    margin: 10px;
} 
.text-col {
    text-align: left; 
    display: block; 
    float: right;
} 


.section-first {
    background-color: rgb(163, 197, 163); 
    
}

.large-columns {
    display: flex; 
     gap: 30px;
    justify-content: center; 
    
}  
.text-section-first h1{
    font-size: 20px; 

}
.text-section-first p{
    font-size: 15px; 
    
} 

.col-b {
    width: 256px;
height: 250px;
left: calc(50% - 256px/2 - 434px);
top: 1994px;
text-align: start;
background: #DEEEFC;
border-radius: 4px; 
resize: both; 
overflow: auto;
}  
.row {
    display: flex; 
    justify-content: space-around;
}  
.texting {
    padding: 10px; 
    margin: 10px;
}





@media (max-width:280px) {
    .navbar {
        display: flex; 
        justify-content: space-between;
    }  
    .navbar label {
        padding-top: 25px;
        
    } 
    .navbar .logo {
        padding-top: 10px;
    }
    header nav {
        display: none;
    } 
    .container {
        max-width: 200px; 
        display: flex; 
        justify-content: center; 

    } 
    .col img {
        width: 700px; 
        padding-top: 10px;
    } 
    .text-con {
        display: block; 
      max-width: 100px;
    } 
    .text-con h1 {
        font-size: 12px;
    } 
    .text-con p {
        font-size: 8px;
    }
}